flutter/.dart_tool/** linguist-generated
flutter/.idea/** linguist-generated
flutter/.reference/** linguist-generated
flutter/.vscode/** linguist-generated
flutter/android/** linguist-generated
flutter/build/** linguist-generated
flutter/ios/** linguist-generated
flutter/linux/** linguist-generated
flutter/macos/** linguist-generated
flutter/web/** linguist-generated
flutter/windows/** linguist-generated